*.Rbuildignore
*.RDataTmp
*.Rhistory
*.Ruserdata 
region_table.R
region_table.Rd
wb_loop_segmentation2.R
User_references
.Rproj.user
pipeline_schematic.PNG
choice_game_1.PNG
choice_game_2.PNG
Reference_atlas_schem.PNG
midpoint_schem.PNG
schematics*
README_cache
.RDataTmp1
